@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');



*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
    /* align-items: center; */

}

body{
    background-color: #f3f4ef;

}



/* new navbar styling starts here */

.nav-container-ml , #logo-ml , .semi-circle-ml {
    display: none;
  }

  .navbar {
    background-color: rgb(255, 123, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    border-bottom: 7px solid green;
    box-shadow: 0px 15px 7px rgba(116, 116, 116, 0.5);
    font-family: 'Montserrat', sans-serif;;

}

.nav-container {
    height: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.1rem;
}

#link1{
  transform: translateX(-5px);
}

#i2 {
    transform: translateX(-6rem);
}

#i3 {
    transform: translateX(6rem);
}

#logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 1.3rem;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    z-index: 11;
}

.nav-item {
    font-size: 1.3rem;
}

.semi-circle {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 3.8rem;
    width: 7.6rem;
    border-radius: 0px 0px 150px 150px;
    background-color: green;
    z-index: 3;
    top: 6.83rem;
    box-shadow: -11px 11px 7px 1.5px rgba(116, 116, 116, 0.5);
}

.nav-item a {
    color: black;
    text-decoration: none;
    padding: 0.5rem;
}


.nav-item a:hover {
    background-color: rgb(255, 255, 255);
    transition: 0.1s ease-in-out;
    color: black;
    text-decoration: underline;
}

#l2{
  transform: translateX(-0.6rem);
}

.line-style{
  display: inline-block;
font-size: 2rem;
}


/* new navbar styling ends here */

/*currency converter styling starts here*/

.container{
    width: 450px;
    margin-top: 5rem;
}
h1{
    color: #364547;
    margin-bottom: 0.5em;
}
.container .box{
    width: 100%;
    display: flex;
}
.box div{
    width: 100%;
}
select{
    width: 95%;
    height: 40px;
    font-size: 1em;
    cursor: pointer;
    outline: none;
    background: #3b58ff;
    color: white;
    margin: 0.2em 0;
    padding: 0 1em;
    border-radius: 10px;
    border: none;
}
input{
    width: 95%;
    height: 40px;
    font-size: 1em;
    margin: 1rem 0 !important;
    border-radius: 10px;
    border: none;
    background: #edeef7;
    outline: none;
    padding: 0 1em;
}
.btn{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    /* width: 100%; */
    margin-top: 1px;
    height: 2rem;
    background-color: rgb(72, 72, 255);
    color: black;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    margin: 0.5em 0;
}

.container button:hover{
    transition: 0.1s ease-in-out;
    background-color: rgb(72, 72, 255);
    color: white;
}

/*currency converter styling ends here*/



.c-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8rem;
    margin-bottom: 2.5rem;
width: 100%;
height: 50rem;
}

#c-wrapper , #e-wrapper{
    display: flex;
    width: 100%;
    height: 50rem;
}

.e-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8rem;
    margin-bottom: 3.5rem;
    width: 100%;
    height: 50rem;
}



    /* styling for widgets heading starts here */

#c-heading h1{
    margin-left: 1rem;
    margin-top: 10rem;
    margin-bottom: -5rem;
}

#e-heading h1{
    margin-left: 1rem;
    margin-top: 10rem;
    margin-bottom: -4rem;
}

    /* styling for widgets heading ends here */




    